@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", arial;
  background-color: #f5f3f4;
  overflow-x: hidden;
}

html ::-webkit-scrollbar {
  width: 8px;
}

html ::-webkit-scrollbar-thumb {
  background-color: #161a1dbd;
  border-radius: 15px;
}

html ::-webkit-scrollbar-track {
  background-color: #f5f3f4;
}

h2 {
  font-weight: 600;
  font-size: 3rem;
}

h3 {
  font-weight: 800;
  font-size: 3.25rem;
  color: #161a1d;
}

@media screen and (max-width: 1024px) {
  h3 {
    font-size: 2.75rem;
  }
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 420px) {
  h3 {
    font-size: 32px;
  }
}
